body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.thumbnail {
    position: relative;
    display: inline-block;
    width: 300px; /* Adjust as per your image size */
    height: 200px; /* Adjust as per your image size */
    overflow: hidden;
    border: 2px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.thumbnail:hover {
    transform: scale(1.05);
}

.thumbnail img {
    width: 100%;
    height: auto;
    display: block;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 8px;
    font-size: 18px;
}

a {
    text-decoration: none;
}
